*{
box-sizing: border-box;
margin: 0;
padding:0;

}
html{
    font-size: 100%;
    font-family: sans-serif;
    max-width: 1280px;
 
}
body{
    background-color: #a2c4e4;
     margin: 0 auto;


}

#outer-tile{
    margin:0 auto;
    width: 100%;
    height: 100vh;
    /*border: 2px red solid;*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 90%;
    max-width: 380px;
    height: 60%;
    border-radius: 5%;
    margin-top: 20px;
    object-fit: fill;
}
#inner-tile{
  
    border-radius: 4%;
    background-color: white;
    width: 50%;
    height: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
   /* border: 2px solid green;*/
}

p:first-of-type{
    text-align: center;
    font-weight:bold;
    font-size: 1rem;
}

p:nth-of-type(2){
    margin-top: 10px;
    color:rgb(89, 92, 95);
    text-align: center;
    font-size: 0.77rem;
}
p{

}


#inner-tile-b{
margin-top: -22px;
text-align: center;
padding: 2rem;
}

@media (max-width: 1200px){
    p:first-of-type{
        font-size: 1rem;
    }

    p:nth-of-type(2){
        font-size: 0.9rem;
    }

    #inner-tile{
        height: 60%;
    }
}

@media (max-width: 1024px){
    p:first-of-type{
        font-size: 0.9rem;
    }

    p:nth-of-type(2){
        font-size: 0.8rem;
    }

    #inner-tile{
        width: 60%;
        height: 50%;
    }
}

@media(max-width: 720px){
    p:first-of-type{
        font-size: 0.8rem;
    }

    p:nth-of-type(2){
        font-size: 0.7rem;
    }

    #inner-tile{
        height: 40%;
    }
}

@media(max-width: 480px){
    p:first-of-type{
        font-size: 0.75rem;
    }

    p:nth-of-type(2){
        font-size: 0.6rem;
    }

    #inner-tile{
        height: 40%;
    }
}